<div class="text-center">
  <input
    type="text"
    placeholder="What do yo u need?"
    [(ngModel)]="searchText"
    class="col-5"
    style="
      height: 50px;
      border-radius: 6px;
      margin-left: 38px;
      border: 1px solid;
    "
  />
</div>
<div class="row featured__filter" style="margin-top: 5px">
  <div
    *ngFor="let s of Food | search: searchText"
    class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat"
  >
    <div class="featured__item">
      <div class="featured__item__pic set-bg">
        <img src="{{ s.src }}" />
        <ul class="featured__item__pic__hover">
          <li>
            <a href="#"><i class="fa fa-heart"></i></a>
          </li>
          <li>
            <a routerLink="/FoodsDetails/{{ s.id }}"
              ><i class="fa fa-info" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
          </li>
        </ul>
      </div>
      <div class="featured__item__text">
        <h6 style="font-size: large">
          <a style="text-decoration: none" href="#">{{ s.name }}</a>
        </h6>
        <h5>{{ s.Price | currency: "USD" }}</h5>
      </div>
    </div>
  </div>
</div>
