<div class="row">
  <div class="col-lg-12">
    <div class="section-title">
      <h2 style="margin-left: 29px">Featured Product</h2>
    </div>
    <div class="featured__controls">
      <ul class="new">
        <li
          style="background-color: #7fad39; border-radius: 10px; padding: 10px"
        >
          <span
            style="
              color: rgb(255, 255, 255);
              font-size: larger;
              cursor: pointer;
            "
            routerLink="addForm/Fruits"
            (click)="passParam('Fruits')"
            class="but"
            >&#43;</span
          >
          <a
            style="
              padding: 10px;
              color: rgb(255, 255, 255);
              text-decoration: none;
            "
            id="fruit12"
            routerLinkActive="active"
            routerLink="Fruits"
            >Fruits</a
          >
        </li>

        <li
          style="background-color: #7fad39; border-radius: 10px; padding: 10px"
        >
          <span
            style="
              color: rgb(255, 255, 255);
              font-size: larger;
              cursor: pointer;
            "
            routerLink="addForm/Vegetables"
            (click)="passParam('Vegetables')"
            class="but"
            >&#43;</span
          >
          <a
            style="
              padding: 10px;
              color: rgb(255, 255, 255);
              text-decoration: none;
            "
            id="vege12"
            routerLinkActive="active"
            routerLink="Vegetables"
            >Vegetables</a
          >
        </li>

        <li
          style="background-color: #7fad39; border-radius: 10px; padding: 10px"
        >
          <span
            style="
              color: rgb(255, 255, 255);
              font-size: larger;
              cursor: pointer;
            "
            routerLink="addForm/Foods"
            (click)="passParam('Foods')"
            class="but"
            >&#43;</span
          >
          <a
            style="
              padding: 10px;
              color: rgb(255, 255, 255);
              text-decoration: none;
            "
            id="food12"
            routerLinkActive="active"
            routerLink="Foods"
            >Fastfood</a
          >
        </li>

        <li
          style="background-color: #7fad39; border-radius: 10px; padding: 10px"
        >
          <span
            style="
              color: rgb(255, 255, 255);
              font-size: larger;
              cursor: pointer;
            "
            routerLink="addForm/Deserts"
            (click)="passParam('Deserts')"
            class="but"
            >&#43;</span
          >
          <a
            style="
              padding: 10px;
              color: rgb(255, 255, 255);
              text-decoration: none;
            "
            routerLinkActive="active"
            routerLink="Deserts"
            >Deserts</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
