<section class="hero">
  <div style="padding-left: 36px" class="container-fluid">
    <div class="row">
      <div class="col-lg-2">
        <div class="hero__categories" style="padding-left: 48px">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>All departments</span>
          </div>
          <ul>
            <li routerLink="foods">
              <a style="text-decoration: none" href="#food12">Fresh Meat</a>
            </li>
            <li routerLink="vegetables">
              <a style="text-decoration: none" href="#vege12">Vegetables</a>
            </li>
            <li routerLink="Fruits">
              <a style="text-decoration: none" href="#fruit12"
                >Fruit & Nut Gifts</a
              >
            </li>
            <li routerLink="Fruits">
              <a style="text-decoration: none" href="#fruit12">Fresh Berries</a>
            </li>
            <li routerLink="foods">
              <a style="text-decoration: none" href="#food12">Ocean Foods</a>
            </li>
            <li routerLink="foods">
              <a style="text-decoration: none" href="#food12">Butter & Eggs</a>
            </li>
            <li routerLink="foods">
              <a style="text-decoration: none" href="#food12">Fastfood</a>
            </li>
            <li routerLink="vegetables">
              <a style="text-decoration: none" href="#vege12">Fresh Onion</a>
            </li>
            <li routerLink="foods">
              <a style="text-decoration: none" href="#food12">Oatmeal</a>
            </li>
            <li routerLink="Fruits">
              <a style="text-decoration: none" href="#fruit12">Fresh Bananas</a>
            </li>
            <li routerLink="vegetables">
              <a style="text-decoration: none" href="#vege12">Fresh Onion</a>
            </li>
            <li routerLink="foods">
              <a style="text-decoration: none" href="#food12">Oatmeal</a>
            </li>
            <li routerLink="Fruits">
              <a style="text-decoration: none" href="#fruit12">Fresh Bananas</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>1234567890</h5>
              <span>support 24/7 time</span>
            </div>
          </div>
        </div>
        <div style="height: 80.3%; padding-top: 30px" class="hero__item set-bg">
          <div class="hero__text" style="width: 110%; height: 111%">
            <br />
            <div class="textShop">
              <br />
              <span>FRUIT FRESH</span>
              <h2>Vegetable <br />100% Organic</h2>
              <a
                style="text-decoration: none"
                href="#"
                class="primary-btn magin"
                >SHOP NOW</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
